<div class="row">
  <form [formGroup]="form" (ngSubmit)="sendEmail($event)">
    <!-- Name -->
    <input type="text" formControlName="name" placeholder="Your Name" />
    <p *ngIf="name?.touched && name?.hasError('required')" class="text-danger">
      Name is required !
    </p>
    <p *ngIf="name?.touched && name?.hasError('minlength')" class="text-danger">
      name should be more than 3 characters
    </p>
    <!-- Email -->
    <input type="email" formControlName="email" placeholder="Your Email" />
    <p *ngIf="email?.touched && email?.hasError('required')" class="text-danger">
      Email is required !
    </p>
    <p *ngIf="email?.touched && email?.hasError('pattern')" class="text-danger">
      Enter valid Email !
    </p>
    <!-- Message -->
    <textarea formControlName="message" placeholder="Your Message"></textarea>
    <p *ngIf="message?.touched && message?.hasError('required')" class="text-danger">
      message is required !
    </p>
    <button type="submit">Send</button>
  </form>

  <div *ngIf="isSent" class="alert alert-success">Your message has been sent!</div>
</div>
<div class="glow-line"></div>
