<div class="container">
  <div class="row">
    <div class="footer">
      <div class="row">
        <div class="col-lg-6 col-md-12 px-4">
          <h5>About Me</h5>
          <p>
            I am a passionate developer dedicated to creating beautiful and functional web
            applications. Let's work together to bring your ideas to life!
          </p>
        </div>
        <div class="col-lg-3 col-md-12 px-4">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li>
              <a
                routerLink="/home"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{
                  paths: 'exact',
                  fragment: 'exact',
                  queryParams: 'ignored',
                  matrixParams: 'ignored'
                }"
                fragment="home"
                >Home</a
              >
            </li>
            <li>
              <a
                routerLink="/home"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{
                  paths: 'exact',
                  fragment: 'exact',
                  queryParams: 'ignored',
                  matrixParams: 'ignored'
                }"
                fragment="about"
                >About Me</a
              >
            </li>
            <li>
              <a
                routerLink="/home"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{
                  paths: 'exact',
                  fragment: 'exact',
                  queryParams: 'ignored',
                  matrixParams: 'ignored'
                }"
                fragment="services"
                >Services</a
              >
            </li>
            <li>
              <a
                routerLink="/home"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{
                  paths: 'exact',
                  fragment: 'exact',
                  queryParams: 'ignored',
                  matrixParams: 'ignored'
                }"
                fragment="projects"
                >My Projects</a
              >
            </li>
            <li>
              <a
                routerLink="/home"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{
                  paths: 'exact',
                  fragment: 'exact',
                  queryParams: 'ignored',
                  matrixParams: 'ignored'
                }"
                fragment="contact-us"
                >Contact Us</a
              >
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-12 px-4 emailMe">
          <h5>Contact Info</h5>
          <a href="mailto:ayaabbas286@gmail.com"
            ><i class="fa-regular fa-envelope"></i> Send Email</a
          >
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-12">
    <div class="brand container text-center mt-5 mb-5">
      <a routerLink="/home" fragment="home"><img src="/Portfolio/logo/logo (2).png" alt="" /></a>
    </div>
  </div>
</div>
