.custom-navbar {
  background: linear-gradient(90deg, #12070f 55%, #631a34 100%);
  border-radius: 32px;
  margin: 30px auto;
  padding: 12px 32px;
  box-shadow: 0px 0px 1px 1px #76576182;
}

.nav-link {
  color: #fff;
  padding: 10px 18px !important ;
  font-weight: 400;
  transition: color 0.7s;
}

.nav-item.active .nav-link,
.nav-link:focus {
  color: #da3b68;
  border-radius: 20px;
  border: 1px solid #4a0b3a;
  /* background-image: url('/Images/video-from-rawpixel-id-17027723-gif.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
}

.nav-link:hover {
  color: #da3b68;
}
.nav-item {
  list-style-type: none;
}
.custom-navbar .navbar-nav {
  margin-left: auto;
  margin-right: auto;
}

.custom-contact-btn {
  background: linear-gradient(90deg, #401224 60%, #33071d 100%);
  background-image: url('/Images/video-from-rawpixel-id-17027723-gif.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  font-weight: 600;
  border-radius: 20px;
  padding: 9px 40px;
  border: 2px solid #ba7d7d3d;
}

.brand .navbar-brand {
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
}
.devicon-angular-plain {
  font-size: 24px;
}
.custom-contact-btn a {
  text-decoration: none;
  color: white;
}
.custom-navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23ffffff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.custom-navbar .navbar-toggler {
  border: none;
}
.custom-navbar .navbar-toggler:focus {
  border: 1px solid #7f0a2ba1;
  box-shadow: 0 0 2px #931035c4;
  border-radius: 10px;
}
/* responsive design media queries  */
@media (min-width: 992px) {
  .custom-navbar .nav-item + .nav-item {
    margin-left: 40px; /* space between menu items on desktop */
  }

  .custom-contact-btn {
    margin-left: 100px; /* move button right only on desktop */
  }
}
@media screen and (min-width: 322px) and (max-width: 768px) {
  .nav-item {
    margin-left: 0; /* no extra shift on links */
  }
  .custom-navbar {
    width: 90% !important;
  }

  .custom-contact-btn {
    margin-left: 0; /* align button with menu */
    width: 100%; /* optional: full width button */
  }
}
