<div id="home" class="container-nav animate__animated animate__fadeInDown">
  <nav class="navbar navbar-expand-lg custom-navbar w-75">
    <div id="nav-custom-phone" class="brand">
      <a class="navbar-brand text-white px-4 py-2" fragment="home" routerLink="/home">
        <img src="/logo/logo (2).png" alt="" />
      </a>
    </div>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarNav" class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li
          class="nav-item"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{
            paths: 'exact',
            fragment: 'exact',
            queryParams: 'ignored',
            matrixParams: 'ignored'
          }"
        >
          <a class="nav-link" routerLink="/home" fragment="home">Home</a>
        </li>
        <li
          class="nav-item"
          routerLinkActive="active"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{
            paths: 'exact',
            fragment: 'exact',
            queryParams: 'ignored',
            matrixParams: 'ignored'
          }"
        >
          <a class="nav-link" routerLink="/home" fragment="about">About Me</a>
        </li>
        <li
          class="nav-item"
          routerLinkActive="active"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{
            paths: 'exact',
            fragment: 'exact',
            queryParams: 'ignored',
            matrixParams: 'ignored'
          }"
        >
          <a
            class="nav-link"
            routerLink="/home"
            fragment="services"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{
              paths: 'exact',
              fragment: 'exact',
              queryParams: 'ignored',
              matrixParams: 'ignored'
            }"
            >Services</a
          >
        </li>
        <li
          class="nav-item"
          routerLinkActive="active"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{
            paths: 'exact',
            fragment: 'exact',
            queryParams: 'ignored',
            matrixParams: 'ignored'
          }"
        >
          <a
            class="nav-link"
            routerLink="/home"
            fragment="projects"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{
              paths: 'exact',
              fragment: 'exact',
              queryParams: 'ignored',
              matrixParams: 'ignored'
            }"
            >My Projects</a
          >
        </li>
      </ul>
      <a (click)="onclickScroll()" class="btn custom-contact-btn text-white ms-lg-3 mt-2 mt-lg-0">
        Contact Us
      </a>

      <!-- <a
        routerLinkActive="active"
        [routerLinkActiveOptions]="{
          paths: 'exact',
          fragment: 'exact',
          queryParams: 'ignored',
          matrixParams: 'ignored'
        }"
        routerLink="/home"
        fragment="contact-us"
        class="btn custom-contact-btn text-white ms-lg-3 mt-2 mt-lg-0"
      >
        Contact Us
      </a> -->
    </div>
  </nav>
</div>
