.job-description {
  color: white;
  padding-top: 60px;
  margin: 20px auto;
}
.top-sub {
  font-size: 14px;
  letter-spacing: 1px;
}
.sub-title span {
  /* width: 40p x; */

  /* padding: 5px 10px; */
}
.sub-title {
  font-size: 22px;
}
.sub-title :last-child {
  font-size: 28px;
}
.sub-title :first-child,
.job-title {
  font-size: 36px;
}
.job-title span {
  color: rgb(186, 51, 78);
  background-image: url('/Images/video-from-rawpixel-id-17027723-gif.gif');
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
}

.project-btn,
.mycv-btn {
  border: 1px solid #ffffff;
  padding: 10px 40px;
  border-radius: 20px;
  color: #ffffff;
  margin-top: 20px;
}
.mycv-btn {
  margin-left: 20px;
}
.project-btn:hover,
.mycv-btn:hover {
  color: #da3b68;
}
.fa-brands {
  color: white;
  font-size: 24px;
  margin: 30px 20px 30px 0px;
  transition: 0.3s;
}
.fa-brands:hover {
  color: #da3b68;
  border-bottom: 1px solid #da3b68;
}
@media screen and (min-width: 322px) and (max-width: 768px) {
  .mycv-btn {
    margin-left: 0px;
  }
}
