<div class="project-row">
  <div class="heading text-center">
    <h1>My Projects</h1>
    <p>
      Discover the front-end experiences I’ve crafted, combining clean code, responsive layouts, and
      smooth interactions to bring modern interfaces to life.
    </p>
  </div>

  <div class="row project-Cards container">
    @for (p of visibleCards(); track p.id) {
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card-container">
        <div class="card mt-5">
          <div class="front">
            <div class="card-img-container">
              <img [src]="p.ProImage" class="card-img-top" alt="Project Image" />
            </div>

            <div class="card-body">
              <h4>{{ p.title }}</h4>
              <div class="front-cardDetails">
                <p>{{ p.shortDescription }}</p>
                <a class="btn DetailsBtn" [routerLink]="['/projects', p.id]">Show Details</a>
              </div>
            </div>
          </div>
          <div class="back">
            <div class="card-body">
              <h3>{{ p.title }}</h3>
              <p>{{ p.shortDescription }}</p>
              <a class="btn DetailsBtn" [routerLink]="['/projects', p.id]"
                >Show Details <i class="fa-solid fa-angle-right"></i
              ></a>
              <a class="btn LiveUrl" [routerLink]="['/projects', p.id]"
                >Go Live <i class="fa-solid fa-globe"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
  <div class="d-flex justify-content-center align-items-center">
    <button class="btn LoadMoreBtn" (click)="LoadMore()" *ngIf="hasMore()">
      See More <span><i class="fa-solid fa-angle-down"></i></span>
    </button>
  </div>
  <div class="d-flex justify-content-center align-items-center">
    <button class="btn SeeLessBtn" (click)="SeeLess()" *ngIf="canSeeLess()">
      See Less <span><i class="fa-solid fa-angle-up"></i></span>
    </button>
  </div>
</div>

<div class="glow-line"></div>
@for (p of debugProjects; track p.id) {
<p>{{ p.title }}</p>
}
