.heading h1 {
  color: white;
  margin-bottom: 20px;
}
.heading p {
  color: rgb(165, 165, 165);
}
.project-row {
  padding: 20px;
}

.project-Cards {
  margin: 10px auto;
}
.card-container {
  perspective: 1200px;
}
.project-Cards .card {
  position: relative;
  height: 20rem;
  border-radius: 20px;
  transform-style: preserve-3d;
  border: transparent;
  transition: all 1s ease-in-out;
}
.front,
.card .back {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#15070c, #501e38, #150a0e);
  backface-visibility: hidden;
  box-shadow: 0px 0px 3px 1px var(--mainColor);
  border-radius: 20px;
  border: transparent;
}

.card .front {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}
.card .front .card-body h4,
.card .back .card-body h3 {
  text-shadow: 3px 5px 4px black;
}
.card .back {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 2;
  transform: rotateY(180deg);
}
.card-container:hover .card {
  transform: rotateY(180deg);
}
.card-img-container {
  position: relative;
  width: 95%;
  height: 314px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0px 1px 2px 3px #00000061;
}
.card-img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.front .card-body {
  padding: 10px 20px;
  text-align: center;
  margin-top: 10px;
  padding-top: 5px;
}
.back .card-body {
  font-size: 16px;
  padding-top: 15px;
}
.DetailsBtn,
.LiveUrl {
  color: rgb(255, 255, 255);
  font-weight: 500;
  margin-bottom: 20px;
  margin-left: 10px;
  border-radius: 10px;
  border: 1px solid #ffffff;
  margin-right: auto;
  bottom: 70px;
  background-color: transparent;
  right: 20px;
}
.LiveUrl {
  width: 110px;
}
.DetailsBtn:hover,
.LiveUrl:hover {
  border: 1px solid #ff4d6d;
  text-decoration: none;
  box-shadow: 0px 0px 3px 1px var(--mainColor);
  color: #ff4d6d;
  transform: translatey(-2px);
}
.LoadMoreBtn,
.SeeLessBtn {
  border: 1px solid #ffffff;
  padding: 10px 40px;
  border-radius: 20px;
  color: #ffffff;
  margin-top: 40px;
  font-weight: 500;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}
.LoadMoreBtn:hover,
.SeeLessBtn:hover {
  color: var(--mainColor);
  border: 1px solid var(--mainColor);
}
.SeeLessBtn:hover,
.LoadMoreBtn:hover {
  transform: translateY(-2px);
}
.fa-angle-up,
.fa-angle-down {
  transform: translateY(2px);
}
.front-cardDetails {
  display: none;
}
@media screen and (max-width: 767px) {
  .front-cardDetails {
    display: block;
  }
  .project-Cards .card {
    height: 22rem;
    width: 100%;
    margin: 20px auto;
    transform: none;
    transform-style: flat;
  }
  .card .front .card-img-container {
    height: 250px;
  }
  .card .front .card-body p {
    display: none;
  }
  .card .front .card-body {
    height: 110px;
  }
  .card .back {
    display: none;
    transform: none;
  }
  .card-container {
    perspective: none;
  }
  .card-container:hover .card {
    transform: none;
  }
  .DetailsBtn {
    margin-top: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .front-cardDetails {
    display: block;
  }
  .project-Cards .card {
    height: 22rem;
    width: 100%;
    margin: 20px auto;
    transform: none;
    transform-style: flat;
  }
  .card .front .card-body p {
    display: none;
  }
  .card .front .card-body {
    height: 110px;
  }
  .card .back {
    display: none;
    transform: none;
  }
  .card-container {
    perspective: none;
  }
  .card-container:hover .card {
    transform: none;
  }
  .DetailsBtn {
    margin-top: 10px;
  }
}
