/* @font-face {
  font-family: 'sora';
  src: url('Fonts/Sora/Sora-VariableFont_wght.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  src: url('Fonts/Chewy/Chewy-Regular.ttf') format('ttf');
  font-weight: 400;
  font-family: 'Chewy', system-ui;
  font-style: normal;
} */
